@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    max-width: 100vw;
    /* overflow-x: hidden; */
}

section {
    padding: 0 24px;
}

p {
    line-height: 1.5;
}

.signup__button {
    background-color: #6415ff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
}

nav {
    height: 80px;
    padding-top: 32px;
    display: flex;
    align-items: center;
}

.purple {
    color: #6415ff;
}

.container {
    padding: 96px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.logo__react {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.logo__title {
    font-size: 24px;
    font-weight: 900;
    padding: 8px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    list-style: none;
    text-decoration: none;
    padding: 24px 12px;
    font-weight: 600;
    color: rgb(33, 32, 32);
}

/* 
HEADER 
*/


.header__secion {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__title {
    font-size: 48px;
    line-height: 1.25;
    color: #1a202c;
}

.header__para {
    font-size: 18px;
    margin: 32px 0;
    color: #243e63;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    font-weight: 700;
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #fff;
    
}
.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb (229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb (35, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__customers--title {
    margin: 80px 0;
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}
