@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    max-width: 100vw;
    /* overflow-x: hidden; */
}

section {
    padding: 0 24px;
}

p {
    line-height: 1.5;
}

nav {
    height: 80px;
    padding-top: 32px;
    display: flex;
    align-items: center;
}

.purple {
    color: #6415ff;
}

.container {
    padding: 96px 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__tag {
    color: #6415ff;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.section__title {
    margin: 16px 0;
    font-size: 48px;
    color: #243e63;
    line-height: 1.5;
    letter-spacing: 0.025em;
    font-weight: 900;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.65;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    text-align: center;
    font-size: 16px;
    margin: 32px 0 0;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    height: calc(100px - 55px);
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: rgba(80, 17, 204);
}

/* 
NAVIGATION SECTION 
*/


.row__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.logo__react {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.logo__title {
    font-size: 24px;
    font-weight: 900;
    padding: 8px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav__link {
    list-style: none;
    padding: 24px 0;
}

.nav__link--item {
    text-decoration: none;
    color: rgb(33, 32, 32);
    font-weight: 600;
    cursor: pointer;
}

.signup__button {
    background-color: #6415ff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    height: calc(100px - 55px);
    padding: 4px 30px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.signup__button:hover {
    background-color: rgba(80, 17, 204);
}

/* 

HEADER 

*/


.header__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 48px;
    line-height: 1.25;
    color: #1a202c;
}

.header__para {
    font-size: 18px;
    margin: 32px 0;
    color: #243e63;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    /* border: 2px solid rgb (229, 231, 235); */
    padding: 20px 192px 20px 32px;
    /* color: rgb (35, 62, 99); */
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    font-weight: 700;
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 300ms ease;
}


.header__email--btn:hover {
    background-color: rgba(80, 17, 204);
}

.header__customers--title {
    margin-top: 80px;
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.header__customers {
    width: 80%;
    margin-top: 20px;
    opacity: 0.5;
}

.header__wrapper--img {
    display: flex;
    width: 60%
}

.header__img {
    width: 100%
}

/* 

FEATURES SECTION

*/

.row__features {
    /* new class to center the features section */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__card {
    padding: 12px;
    text-align: center;
}


#features .section__para {
    max-width: 576px;
    margin: 0 auto;
    /* this helped to center the paragraph */
}

.features {
    display: flex;
    flex-wrap: wrap;
    /* this is wrapping all the features evenly */
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
    /* this makes each feature take up a third of the container */
}

.feature__row {
    display: flex;
    /* without this the image and text would be stacked */
    padding: 32px 24px;
    /* this gives padding around each feature */
    align-items: flex-start;
    /* aligns items to the top */
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para-- {
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
    max-width: calc(634px / 3);
    /* this makes sure the paragraph doesn't stretch too wide */
}

/*

QUALITY SECTION

*/

#quality .row {
    /* this makes align image and text next to each other */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.quality__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 576px;
}

.quality__img--wrapper {
    display: flex;
    width: 50%;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
}

.quality__img {
    width: 100%
}

.quality__tag {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

#quality .section__title {
    line-height: 1.25;
}

#quality .btn {
    align-self: flex-start;
}

/* 
STEPS SECTION 
*/

#steps .row {
    display: flex;
    justify-content: center;
}

.steps__description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
    /* max-width: 576px; */
}

.steps__img--wrapper {
    display: flex;
    align-items: center;
    /* this center the image and prevent it from stretching vertically */
    width: 50%
}

.steps__img {
    width: 100%;
}

.steps__text {
    width: 100%;
}

.step {
    display: flex;
    align-items: flex-start;
}

.step__list {
    display: flex;
    flex-direction: column;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
    margin-top: 20px;

}

.step__text {
    display: flex;
    flex-direction: column;
    margin: 24px;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
}

.step__para {
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
}

/* 
VALUES 
*/

.values__description {
    display: flex;
    flex-direction: column;
    max-width: 576px;
    width: 50%;
}

.value {
    display: flex;
    max-width: 576px;
}

.value__title--list {
    display: flex;
    flex-direction: column;
}


.value__text--para {
    display: flex;
    flex-direction: column;
    color: #718096;
    margin-top: 16px;
    line-height: 1.625;
}

#values p {
    line-height: 1.625;
}

.value__text--img {
    display: flex;
    gap: 12px;
}

.value__img--wrapper {
    display: flex;
}

.values__list {
    display: flex;
    flex-direction: column;
    margin: 32px 32px 0 0;
}

.value__title {
    color: #243e63;
    font-size: 20px;
}

#values .btn {
    margin: 48px 0 0;
    align-self: flex-start;
}

.values__card {
    display: flex;
}

.values__img {
    display: flex;
    width: 100%;
}

.value__main--img {
    width: 50%;
}



/*
PRICING 
*/

#pricing .section__tag {
    text-align: center;
}

#pricing .section__title {
    text-align: center;
}

#pricing .section__para {
    margin: 0 auto;
    max-width: 576px;
}

.pricing__wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.first__title {
    font-size: 20px;
    font-weight: bold;
    color: #1a202c;
}

.pricing__number {
    font-size: 48px;
    font-weight: bold;
    color: #1a202c;
}

.pricing__box {
    display: flex;
    width: calc(100% / 3);
    flex-direction: column;
    margin-top: 64px;
    margin-right: 32px;
    border-radius: 10px;
    background-color: rgb(255 255 255);
}

.pricing__box--green {
    border-top: rgb(56, 178, 172) 8px solid;
}

.pricing__box--pink {
    border-top: rgb(245, 101, 101) 8px solid;
}

.pricing__box--mod {
    background: linear-gradient(135deg,
            rgb(76, 81, 191) 0%,
            rgb(102, 126, 234) 100%);
}

.pricing__monthly {
    font-size: 16px;
    color: #a0aec0;
    font-weight: bold;
}

.plan__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
    box-shadow: 0 4px 4px rgba(5, 5, 5, 0.1);
    border-radius: 8px;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-shadow: 0 4px 4px rgba(5, 5, 5, 0.1);
    border-radius: 8px;
}

.middle__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #1a202c;
}

.middle__para {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    color: #718096;
}

.first__title--mod {
    color: #f7fafc;
}

.pricing__number--mod {
    color: #f7fafc;
}

.pricing__monthly--mod {
    color: #f7fafc;
}

.middle__title--mod {
    color: #f7fafc;
}

.middle__para--mod {
    color: #f7fafc;
}

#pricing .middle__para {
    line-height: 2;
}

.plan__button {
    text-align: center;
    padding: 32px;
    box-shadow: 0 4px 15px rgba(5, 5, 5, 0.1);
    border-radius: 8px;
}

.pricing__btn {
    padding: 16px 24px 16px 24px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    color: #f7fafc;
    border-radius: 600px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;
}

.pricing__btn:hover {
    box-shadow: 0px 5px 8px rgb(153, 142, 142);
    transform: scale(1.02);
}

.pricing__btn--mod {
    color: #6415ff;
}

.pricing__btn--green {
    background: linear-gradient(135deg,
            rgb(56, 178, 172) 0%,
            rgb(129, 230, 217) 100%);
}

.pricing__btn--pink {
    background: linear-gradient(135deg,
            rgb(245, 101, 101) 0%,
            rgb(254, 178, 178) 100%);
}


/* 
TESTIMONIALS
*/

.testimonials__wrapper {
    display: flex;
    gap: 50px;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
}

.img__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.testimonial__img {
    width: 100%;
}

.description__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%
}

.ratings {
    margin: 40px 0 0;
}

.testimonial__text {
    margin: 24px 0;
}

.testimonial__title {
    font-size: 20px;
    font-weight: 700;
    color: #4a5568;
    line-height: 1.625;
}

.testimonial__para {
    margin: 24px 0;
    font-weight: 500;
    color: rgb(74 85 104);
    font-size: 16px;
    line-height: 1.625;
}

.testimonial__profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 20px;
    color: #4a5568;
    line-height: 1.625;
    font-weight: 700;
}

.testimonial__position {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__button {
    display: flex;
    justify-content: space-between;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons {
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.buttons:hover {
    background: #edf2f7;
}

/* 
PURPLE CONTAINER
*/

.end__container {
    display: flex;  
    background-color: #6415ff;
    padding: 96px 0;
    border-radius: 8px;
   }

.box__wrapper {
    display: flex;
    padding: 0 32px;
}

.box__text {
    display: flex;
    align-items: center;
    width: 50%;
}

.text__box {
    color:#f7fafc;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
}

.purple__buttons {
    display: flex;
    justify-content: center;
    width: 50%;
}

.two__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.start__button {
    padding: 24px 40px;
    border-radius: 40px;
    font-size: 16px;
    color: #f7fafc;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
    transition: all 300ms ease;
}  

.start__button--pink {
    background-color: #f56565;
    border: none;
}

.start__button--purple {
    background-color: #6415ff;
    border: 1px solid #edf2f7;
}

.start__button--pink:hover {
    background-color: rgba(229, 62, 62); ;
}

.start__button--purple:hover {
    background-color: rgba(247, 250, 252);
    color: #6415ff;
}

/*
FOOTER 
*/

#footer {
    background-color: #6415ff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    list-style: none;
    color: #f7fafc;
    font-size: 14px;
}

.footer__link {
    margin: 24px 0;
}

.list__title {
    color: #f7fafc;
    font-size: 16px;
}

.divider {
    height: 2px;
    background-color: rgb(116, 44, 255);
    margin: 64px 0;
}