@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    max-width: 100vw;
    /* overflow-x: hidden; */
}

section {
    padding: 0 24px;
}

p {
    line-height: 1.5;
}

.signup__button {
    background-color: #6415ff;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    height: calc(100px - 55px);
    padding: 4px 30px;
    color: white;
}

nav {
    height: 80px;
    padding-top: 32px;
    display: flex;
    align-items: center;
}

.purple {
    color: #6415ff;
}

.container {
    padding: 96px 32px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.logo__react {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.logo__title {
    font-size: 24px;
    font-weight: 900;
    padding: 8px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    list-style: none;
    text-decoration: none;
    padding: 24px 12px;
    font-weight: 600;
    color: rgb(33, 32, 32);
}

/* 
HEADER 
*/


.header__section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 48px;
    line-height: 1.25;
    color: #1a202c;
}

.header__para {
    font-size: 18px;
    margin: 32px 0;
    color: #243e63;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    /* border: 2px solid rgb (229, 231, 235); */
    padding: 20px 192px 20px 32px;
    /* color: rgb (35, 62, 99); */
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    font-weight: 700;
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    font-size: 16px;
    color: #fff;

}

.header__customers--title {
    margin-top: 80px;
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.header__customers {
    width: 80%;
    margin-top: 20px;
    opacity: 0.5;
}

.header__wrapper--img {
    display: flex;
    width: 60%
}

.header__img {
    width: 100%
}

/* 

FEATURES

*/

#features .features__holder { /* new class to center the features section */
   display: flex;
   flex-direction: column;
   align-items: center; 
}

.features__card {
    padding: 12px;
    text-align: center;
}

.features__tag {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.features__title {
    margin: 16px 0;
    font-size: 48px;
    color: #243e63;
    line-height: 1.5;
    letter-spacing: 0.025em;
    font-weight: 900;
}

.features__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.65;
}

#features .features__para {
    max-width: 576px;
    margin: 0 auto; /* this helped to center the paragraph */
}

.features {
    display: flex;
    flex-wrap: wrap; /* this is wrapping all the features evenly */
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3); /* this makes each feature take up a third of the container */
}

.feature__row {
    display: flex; /* without this the image and text would be stacked */
    padding: 32px 24px; /* this gives padding around each feature */
    align-items: flex-start; /* aligns items to the top */
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para-- {
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 2;
    font-weight: 500;
    max-width: calc(634px / 3); /* this makes sure the paragraph doesn't stretch too wide */
}







